@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat:ital,wght@0,500;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "poppins", sans-serif;
}
body {
  color: #ffffff;
  background: #ffffff;
}
.shape {
  font-size: 30px;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}
.logowithtext {
  display: flex;
}
header {
  box-sizing: border-box;
  margin: 0;
  background-color: #1e0342;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #9ac8cd;
  text-decoration: none;
}

.logo {
  cursor: pointer;
  border-radius: 100%;
  width: 15%;
  height: auto;
  margin-right: 40px;
}
.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0px 15px;
}
.nav-links li a {
  transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
  color: #0088a9;
}
.logindiv {
  color: #9ac8cd;
  
}
button {
  padding: 50px 45px;
  background-color: #9ac8cd;
  border:none;
  color: #9ac8cd;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

  
   


  .custom-button {
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
}

.button-image {
    width: 30px; /* Adjust image width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px;
}

.button-content {
    flex: 1;
}

.button-content h2 {
    margin: 0;
    font-size: 16px; /* Adjust heading font size */
    color: #333;
}

.button-content p {
    margin: 5px 0 0; /* Adjust paragraph margin */
    font-size: 14px; /* Adjust paragraph font size */
    color: #666;
}
.card {
  transition: transform 0.5s ease;
  margin-bottom: 20px; /* Add margin between cards */
  
}

.card:hover {
  transform: scale(1.2);
  
}


.button {
  transition: transform 0.3s ease;
}

.button:hover {
  background-color: #065F46;
  transform: scale(1.05);
  cursor: pointer;
}

/* Add styles for specific button colors */
.bg-emerald-100 {
  background-color: #3e986a; /* Light green */
}

.bg-emerald-700 {
  background-color: #065F46; /* Dark green */
}

.text-emerald-900 {
  color: #ffffff; /* Dark green text */
}

.text-white {
  color: #FFFFFF; /* White text */
}

.book-now-btn {
  background-color: #065F46; /* Dark green */
  border-color: #10B981; /* Green */
  color: #FFFFFF; /* White */
  font-weight: 900;
  transition: transform 0.3s ease;
}

.book-now-btn:hover {
  transform: translateY(1px);
  background-color: #10B981; /* Green */
  border-color: #065F46; /* Dark green */
}
.cancel-btn {
  background-color: #065F46; /* Dark green */
  border-color: #10B981; /* Green */
  color: #FFFFFF; /* White */
  transition: transform 0.3s ease;
  font-weight: 700; /* Bolder font */
  align-items: right; /* Shift text to the right */
  margin-left: 80px;
}

.cancel-btn:hover {
  transform: translateY(1px);
  background-color: #10B981; /* Green */
  border-color: #065F46; /* Dark green */
}

.buttons{
  align-items: center
}
.background{
  background-color:#e2ffff;
}