@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat:ital,wght@0,500;1,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&disply=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "poppins", sans-serif;
}
body {
  color: #ffffff;
  background: #ffffff;
}
.shape {
  font-size: 30px;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}
.logowithtext {
  display: flex;
}
header {
  box-sizing: border-box;
  margin: 0;
  background-color: #1e0342;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #9ac8cd;
  text-decoration: none;
}

.logo {
  cursor: pointer;
  border-radius: 100%;
  width: 15%;
  height: auto;
  margin-right: 40px;
}
.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0px 15px;
}
.nav-links li a {
  transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
  color: #0088a9;
}
.logindiv {
  color: #9ac8cd;
  
}
button {
  padding: 50px 45px;
  background-color: #9ac8cd;
  border:none;
  color: #9ac8cd;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
   
   
  
  

  

  
  /* .navbar a.active,
  .navbar a:hover {
    color: #ffc107;
  } */
  
  .Music {
    /* padding: 20px; */
    /* justify-content: center; */
    margin-top: 5%;
    text-align: center;
    font-family: 'Josefin Sans',sans-serif;
    color: rgb(255, 254, 253);
    font-size: 100px;
    padding-top: 50px;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    backdrop-filter: blur(5px);
  }
  
  .card {
    
    width: 80%;
    height: 420px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px; 
    
    /* backdrop-filter: blur(5px); */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    margin-top: 0;
  }
  
  .card .text {
    padding: 50px;
    font-family: sans-serif;
  }
  
  .card h3 {
    font-size: 60px;
    margin-bottom: 10px;
    color: black;
  }
  
  .card p {
    font-size: 30px;
    color: #666;
  }
  
  .spotify {
    padding: 10px;
    width: 720px;
    height: 380px;
  }
  
  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
  