header{
    background-color: #138fe1;
    padding-top: 5px;
    padding-bottom: 5px;
}

button{
    color: white;
   
}


li
{
    color: white;
}

a
{
    color: white;
}

.cta{
    padding-left: 40px;
}

