@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat:ital,wght@0,500;1,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: Arial, sans-serif;
 background: radial-gradient(690px at 51.5% -14.8%, rgb(94, 252, 236) 0%, rgb(0, 40, 143) 90%);
 background-size: cover;
 background-position: center;



}
.shape {
  color:white;
  font-size: 30px;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}
.logowithtext {
  display: flex;
}
header {
  box-sizing: border-box;
  margin: 0;
  background-color: #1e0342;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #9ac8cd;
  text-decoration: none;
}

.logo {
  cursor: pointer;
  border-radius: 100%;
  width: 15%;
  height: auto;
  margin-right: 40px;
}
.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0px 15px;
}
.nav-links li a {
  transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
  color: #0088a9;
}
.logindiv {
  color: #9ac8cd;
  
}
button {
  padding: 50px 45px;
  background-color: #9ac8cd;
  border:none;
  color: #9ac8cd;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}




.container {
    
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontally center the content */
  }
  
.head {
   
    padding: 6%;
    text-align: center; /* Center content horizontally */
  }
  
.head h1{
    /* margin-bottom: 10px; Spacing below headings */
    font-family: 'Josefin Sans',sans-serif;
    color: wheat;
    font-size: 80px;
  }
  
  .head h2 {
    margin-bottom: 25px; /* Spacing below headings */
    font-family: 'Josefin Sans',sans-serif;
    color: wheat;
    font-size: 30px;   
  }
  
  .notepad-container {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    
    align-items: center;
    margin: -10%;
    margin-left: 50px; /* Add margin for spacing */
    margin-right: 50px;
    width: 90%; /* Adjust width as desired */
  }
  
  #notepad {
    width: 100%; /* Fill the container width */
    height: 440px; /* Adjust height as desired */
    padding: 10px;
    border: 1px solid #ffffff; /* Add a thin border */
    border-radius: 5px; /* Rounded corners */
    font-size: 25px; /* Adjust font size as desired */
    resize: none; /* Prevent resizing the textarea */
    justify-content: center;
    align-items: center;
  }
  
  #notepad:focus {
    outline: none; /* Remove outline on focus */
    border-color: #871717; /* Change border color on focus */
  }
  
  #clear-button {
    font-size: 30px;
    font-family: 'Josefin Sans',sans-serif;
    align-items: center;
    margin-left: 38%;
    /* margin-right: 80px; */
    background-color: wheat; /* Light gray background */
    border: 2px solid #ddd; /* Add a thin border */
    border-radius: 10px; /* Rounded corners */
    padding: 20px 40px; /* Padding for button */
    margin-top: 20px; /* Spacing above button */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  #clear-button:hover {
    background-color: #ddd; /* Slightly darker background on hover */
  }
  