@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat:ital,wght@0,500;1,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "poppins", sans-serif;
}
body {
  color: #ffffff;
  background: #caf0f8;
}
.shape {
  font-size: 30px;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}
.logowithtext {
  display: flex;
}
header {
  box-sizing: border-box;
  margin: 0;
  background-color: #190482;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #9ac8cd;
  text-decoration: none;
}

.logo {
  cursor: pointer;
  border-radius: 100%;
  width: 15%;
  height: auto;
  margin-right: 40px;
}
.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0px 15px;
}
.nav-links li a {
  transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
  color: #0088a9;
}
.logindiv {
  color: #9ac8cd;
  
}
button {
  padding: 50px 45px;
  background-color: #9ac8cd;
  border:none;
  color: #9ac8cd;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}


  

  .Home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: #ffffff no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
  }
  .Home-content {
  
    margin-top:0%;
    max-width: 600px;
    color: #000;
  }
  
  .Test{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    margin-top: 0;
  }
   
  
  .Test-text h1{
    font-family:  "Anton", sans-serif;;
    font-size: 60px;
    font-weight: 600;
    margin:0;
    color: #190482; 
    line-height: 1.7;
    margin-left: 130px; 
    white-space: nowrap;
    text-align: center;
   
  }
  
  
  .Test-text h2 {
    font-size: 20px;
    font-weight: 500;
    color: #8E8FFA; 
    line-height: 1.7;
    margin: 0;
    margin-left: 80px; 
    white-space: nowrap;
    text-align: center;

  }
  /* .Test-text h3 {
    font-size: 20px;
    font-weight: 500;
    color: #8E8FFA; 
    line-height: 1.7;
    margin: 0;
    margin-left: 70px; 
    white-space: nowrap;
    margin-bottom: 20px;
    text-align: center;
  } */
  
  
  
  .Test-text p {
    color: #8E8FFA;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
    margin-left: 60px; 
    text-align: center;
  }
   
  
  
  .Test2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    margin-top: 0;
    text-justify: center;
  }
   
  
  .Test2-text h1{
    text-align:center;
    font-family: "Anton",sans-serif;
    font-size: 60px;
    font-weight: 600;
    margin:0;
    color: #0e0e6c; 
    line-height: 1.7;
    margin-left: 50px;  
    white-space: nowrap;
   
  }
  
  
  .Test2-text h2 {
    font-size: 20px;
    font-weight: 500;
    color: #030000; 
    line-height: 1.7;
    margin: 0;
    margin-left: 10px; 
    white-space: nowrap;
  }
  .Test2-text h3{
    font-size: 20px;
    font-weight: 500;
    color: #030000; 
    line-height: 1.7;
    margin: 0;
    margin-left: 10px; 
    white-space: nowrap;
    margin-bottom: 20px;
  }
  
  .Test2-text h4{
    font-size: 20px;
    font-weight: 500;
    color: #030000; 
    line-height: 1.7;
    margin: 0;
    margin-left: 10px; 
    white-space: nowrap;
  }
  .Test2-text h5{
    font-size: 20px;
    font-weight: 500;
    color: #030000; 
    line-height: 1.7;
    margin: 0;
    margin-left: 10px; 
    white-space: nowrap;
    
  }
  .Test2-text h6{
    font-size: 20px;
    font-weight: 500;
    color: #030000; 
    line-height: 1.7;
    margin: 0;
    margin-left: 10px; 
    white-space: nowrap;
    margin-bottom: 20px;
  }
  .Test2-text h7{
    font-size: 20px;
    font-weight: 500;
    color: #030000; 
    line-height: 1.7;
    margin: 0;
    margin-left: 10px; 
    white-space: nowrap;
    margin-bottom: 20px;
  }
  
  .Test2-text h8{
    font-size: 20px;
    font-weight: 500;
    color: #030000; 
    line-height: 1.7;
    margin: 0;
    margin-left: 10px; 
    white-space: nowrap;
    margin-bottom: 20px;
  }
  .Test2-text h9{
    font-size: 20px;
    font-weight: 500;
    color: #030000; 
    line-height: 1.7;
    margin: 0;
    margin-left: 10px; 
    white-space: nowrap;
    margin-bottom: 20px;
  }
  
  
  
  .background-box {
    background-color: white; /* Light gray background color */
    border: none; /* Gray border */
    border-radius: 0px 30px 30px 30px; /* Rounded corners */
    padding: 20px; /* Padding inside the box */
    width: 80%; /* Width of the box */
    margin: 0 auto; /* Center the box horizontally */
    box-sizing: border-box; /* Include padding and border in the box's total width */
    margin-top: 100px;
    margin-bottom: 10px;
  }
  .background-box1 {
    background-color: white;
    border-radius: 0px 30px 30px 30px; /* Rounded corners */
    padding: 20px; /* Padding inside the box */
    width: 80%; /* Width of the box */
    margin: 0 auto; /* Center the box horizontally */
    box-sizing: border-box; /* Include padding and border in the box's total width */
    margin-top: 0%;
    margin-bottom: 10px;
  }
  
  .test-button{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    max-width: 80%;
    margin-left: 10%;
    margin-bottom: 50px;

    
    
  }
  .test-button1{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
    max-width: 50%;
    margin-left: 10px;  
    margin-bottom: 30px;
    
    
  }

  
  .background-box2 {
    background-color: #C2D9FF; /* Light gray background color */
    border-radius: 30px 30px 30px 0px; /* Rounded corners */
    padding: 20px; /* Padding inside the box */
    width: 30%; /* Width of the box */
    margin: 0 auto; /* Center the box horizontally */
    box-sizing: border-box; /* Include padding and border in the box's total width */
    margin-top: 40px;
    margin-bottom: 80px;
    margin-left: 140px;
  }
  
  .Test3-text h1{
    color: #0e0e6c; 
    font-size: 30px;
    line-height: 1.4;
    margin-bottom: 15px;
    margin-left: 10px; 
  }
  .Test3-text h2{
    color: #000000; 
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 5px;
    margin-left: 10px; 
  }
   
  .Test3-text h3{
    color: #000000; 
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 5px;
    margin-left: 10px; 
  }
  
  .Test3-text h4{
    color: #000000; 
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 5px;
    margin-left: 10px; 
  }
  .Test3-text h5{
    color: #000000; 
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 5px;
    margin-left: 10px; 
  }
   
  .Test3-text h6{
    color: #000000; 
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 5px;
    margin-left: 10px; 
  }
   
  .Test3-text h7{
    color: #000000; 
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 5px;
    margin-left: 10px; 
  }
   
  .Test3-text h8{
    color: #000000; 
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 5px;
    margin-left: 10px; 
    h1 a:hover,
    h2 a:hover,
    h3 a:hover,
    h4 a:hover,
    h5 a:hover,
    h6 a:hover,
    h7 a:hover,
    h8 a:hover {
      text-decoration: underline;
  }
  }
  .Test3-text h2 a:hover {
    text-decoration: underline;
  }
  .Test3-text h3 a:hover {
    text-decoration: underline;
  }
  .Test3-text h4 a:hover {
    text-decoration: underline;
  }
  .Test3-text h5 a:hover {
    text-decoration: underline;
  }
  .Test3-text h6 a:hover {
    text-decoration: underline;
  }
  .Test3-text h7 a:hover {
    text-decoration: underline;
  }
  .Test3-text h8 a:hover {
    text-decoration: underline;
  }
   
  
  
  .Test3{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    gap: 1.5rem;
    margin-top: 0;
  }
   
  .image-container {
    height:300px;
    width:600px;
    float: right;
    margin-left: 20px; /* Adjust margin as needed */
    margin-bottom: 10px; /* Reduce the bottom margin */
    margin-right: 130px; /* Adjust right margin as needed */
    margin-top: -450px; /* Set top margin to 0 */
  }
  
  .image-container img {
    width: 500px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
  }
  
  
  .btn1 {
    font-size: 15px;
    padding: 10px 5px;
    background-color: #7752FE;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block; /* Make the button a block-level element */
    margin-top: 20px; /* Add some space between the button and the text */
    margin-left: 0%;
  }
  
  .btn1:hover {
    background-color: #005f73;
  }
  
  
  .btn {
    width: 400px;
    font-size: 24px;
    padding: 15px 30px;
    background-color: #7752FE;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block; /* Make the button a block-level element */
    margin-top: 20px; /* Add some space between the button and the text */
  }
  
  .btn:hover {
    background-color: #005f73;
  }
  section{
    display: flex;
    flex-wrap: wrap;
  }


  .test-button{
   justify-content: center;
  }
  .Test-text h1{
    color: #0e2366;
   
  }

  .Test-text h2{
    color: #457b9d;
  }

  .Test-text b{
    color: #138fe1
  }

  .btn{
    background-color: #18a4ab;
  }

.background-box{
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 30px 30px 30px 30px;
}

.btn1{
  background-color: #18a4ab;
  padding: 15px;
  
}

.Test3-text a
{
  color: #0e0e6c;
}

.background-box1
{
  border-radius: 30px 30px 30px 30px;
}